.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  mat-toolbar {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
    span {
      margin: 0 auto;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  main {
    flex: 1;
    padding: 1rem;
  }

  .footer {
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    
    .footer-content {
      margin: 0 auto;
      font-size: 0.9rem;
    }
  }
}
